 html,
 body {
     height: 100%;
     width: 100%;
     overflow: hidden;
     padding: 0;
     margin: 0;
 }

 #mapBack {
     position: absolute;
     ;
     right: 17px;
     bottom: 137px;
     z-index: 100;
 }

 .amap-icon img {
     width: 100%;
 }

 #page {
     width: 100%;
     height: 100%;
     position: fixed;
     display: -webkit-flex;
     -webkit-flex-direction: column;
     overflow: hidden;
 }

 .amap-logo {
     display: none!important;
 }

 .amap-copyright {
     display: none!important;
 }

 .code {
     position: absolute;
     bottom: 3rem;
     margin-left: 31%;
     width: 38%;
 }

 .code img {
     width: 100%;
 }

 .code a {
     display: none;
 }

 #container {
     -webkit-flex: 1;
 }

 #panel {
     height: 43%;
     -webkit-flex: 0 0 auto;
     overflow: visible;
     border-top: 1px solid #ccc;
     position: relative;
     z-index: 999;
     /*-webkit-transition: all 0.2s;*/
 }

 #showHideBtn {
     display: block;
     position: absolute;
     width: 63px;
     height: 32px;
     text-align: center;
     margin: 0 auto;
     left: 0;
     right: 0;
     top: -25px;
 }

 #showHideBtn:after,
 #showHideBtn:before {
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     cursor: pointer;
 }

 #showHideBtn:before {
     width: 60px;
     height: 30px;
     background: rgba(255, 255, 255, 0.9);
     top: 0;
     border-radius: 30px 30px 0 0;
     border: 1px solid #ccc;
     border-bottom: 0;
 }

 #showHideBtn:after {
     content: "";
     top: 7px;
     border: 10px solid rgba(255, 0, 0, 0);
     z-index: 99999;
     border-top-color: #ccc;
     /* -webkit-transition: all 0.2s;*/
 }

 #poiList {
     -webkit-overflow-scrolling: touch;
     width: 100%;
     height: 100%;
     overflow: scroll;
     position: relative;
     background: #fff;
 }

 #pos-pile {
     width: 1.4rem;
     height: 1.4rem;
     border-radius: 45px;
     background: #FF6932;
     display: block;
     border: 4px solid #fff;
 }

 .pile-info>div {
     color: #bfbfbf;
     font-size: 0.8rem;
 }

 .pile-info>div>img {
     width: 1.2rem;
     margin: 0 0.5rem;
 }

 .pile-info ul {
     margin-top: 1rem;
     padding: 0;
 }

 .pile-info ul li {
     clear: both;
     overflow: hidden;
     margin: 1rem 0;
 }

 .pile-info ul li img {
     width: 1.2rem;
     margin: 0 0.5rem;
     display: block;
     float: left;
 }

 .pile-info ul li span {
     float: right;
 }

 .cl-yellow {
     color: #ff6932;
 }

 .cl-green {
     color: green;
 }

 .cl-gray {
     color: #999;
 }

 #poiList .amap_lib_placeSearch {
     border: none;
 }

 #panel.hidden {
     height: 0;
     top: 1px;
 }

 #panel.hidden #showHideBtn {
     /*  top: -30px;*/
 }

 #panel.hidden #showHideBtn:after {
     /*  -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 4px;*/
     top: -5px;
     border-bottom-color: #ccc;
     border-top-color: transparent;
 }

 #panel .amap_lib_placeSearch .pageLink {
     font-size: 120%;
     margin: 0 3px;
 }

 #searchBox {
     position: fixed;
     width: 90%;
     margin: 0 auto;
     left: 0;
     right: 0;
     z-index: 999;
     top: 1.6rem;
     height: 30px;
 }

 #tipinput {
     width: 100%;
     height: 30px;
     text-indent: 1rem;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     line-height: 30px;
     padding: 0 7px;
     box-sizing: border-box;
 }

 #clearSearchBtn {
     position: absolute;
     right: 0;
     top: 0;
     margin: auto;
     width: 20px;
     height: 20px;
     padding: 5px;
     text-align: center;
     vertical-align: middle;
     font-size: 14px;
     color: #999;
 }

 #clearSearchBtn .del {
     background: #eee;
     border-radius: 12px;
     width: 100%;
     height: 100%;
 }

 #page.searching #clearSearchBtn {
     display: none;
 }

 #loader {
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 1;
     margin: -75px 0 0 -75px;
     border: 16px solid #eee;
     border-radius: 50%;
     border-top: 16px solid #0b83ea;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
     display: none;
 }

 @-webkit-keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
 }

 .searching #loader {
     display: block;
 }

 .searching #page {
     filter: grayscale(1);
     opacity: 0.5;
 }

 #panel.empty #showHideBtn {
     opacity: 0.5;
 }

 #emptyTip {
     display: none;
 }

 #panel.empty #emptyTip {
     display: block;
     position: relative;
     background: #fff;
     width: 100%;
     text-align: center;
     padding: 30px 0;
     color: #666;
 }

 .poi-more {
     display: none!important;
 }

 .amap-marker-label {
     background-color: transparent;
     border: none;
 }



 #fixed_mark {
     position: fixed;
     top: 60px;
     right: 0px;
     z-index: 1000;
     background: #ff8659;
     border-radius: 4px 0 0 4px;
     display: none;
 }

 #fixed_mark .font_mark {
     padding: 8px 16px;
     display: inline-block;
     vertical-align: middle;
 }

 #fixed_mark .font_mark p {
     color: #fff;
     margin: 0;
     font-size: 14px;
     letter-spacing: 1px;
 }

 #fixed_mark .back_mark {
     display: inline-block;
     vertical-align: middle;
     height: 35px;
 }

 #fixed_mark .back_mark img {
     height: 35px;
 }

 #fixed_mark .hidden {
     display: none;
 }