* {
	padding: 0;
	margin: 0;
}

html,
body,
#main {
	width: 100%;
	height: 100%;
}

#main {
	background: #000 url('../images/power_bg.jpg') center center / cover no-repeat;
}

.center_font {
	width: 60%;
	margin: 40px auto;
}