* {
	padding: 0;
	margin: 0;
}

html,
body,
#main {
	width: 100%;
	height: 100%;
}

#top img {
	margin-top: 20px;
	margin-left: 15px;
	width: 90px;
}

#main {
	background: #000 url('../images/power_bg.jpg') center center / cover no-repeat;
}

.center_font {
	width: 60%;
	margin: 40px auto;
}

.center_font img {
	margin-top: 10px;
	width: 100%;
}

.left_font {
	height: 180px;
	float: right;
	margin-top: 40px;
}

#code {
	display: flex;
	padding: 0 20px;
	text-align: center;
}

#code>div {
	// flex: 1;
	width: 50%;
	padding: 10px;
	margin: auto;
}

#code>div .code_title {
	color: #fff;
	padding: 0 0 10px;
	font-size: 16px;
	display: none;
}

#code>div img {
	width: 100%;
}

@media screen and (max-width:380px) {
	.img_margin_top {
		margin-top: 30px;
	}
}

@media screen and (max-width:330px) {
	.img_margin_top {
		margin-top: 4px;
	}
}